body{
    background-color: silver; 
    text-align: center;
}

h1{
    text-align: center;
}

label{
    display: inline-block;
    width: 180px;
    color: steelblue;
    margin: 5px;
}

input,select{
    width: 200px;
    margin: 5px;
    text-align: center;
}

form{
    display: block;
    width: 700px;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    background-color: white;
    padding: 10px;
    margin: auto;
}

h2{
    text-align: center;
    background-color: steelblue;
    color: white;
}


table{
    text-align: center;
}

